<div class="container">
  <div class="row my-5">
    <div class="col-md-8 m-auto">
      <div class="card rounded-5">
        <h2 class="card-title mx-auto my-3">New Category</h2>
        <div class="card-body">
          <%= render 'form', category: @category %>

          <%= link_to 'Back', categories_path, class: "card-link" %>
        </div>
        <!--card-body-->
      </div>
      <!--card-->
    </div>
    <!--col-md-6-->
  </div>
  <!--row-->
</div>
<!--container>-->
